# 模型文件
*.pth

# 备份文件
*.bak

# JSON Lines 文件
*.jsonl

# 日志文件
*.log

# PDF 文件
*.pdf
*.png


# 文本文件
*.txt

# 可视化结果文件夹
vis_results/
commands/
scripts/


# Python 缓存文件
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
